*.swp
./*.py
*.pyc
*.dat
.DS_Store
._*
__pycache__
playground
build
tenpy/linalg/*.c
tenpy/linalg/*.cpp
tenpy/linalg/*.so
tenpy/linalg/*.html
examples/*.pdf
examples/*.pkl
tests/export_import_test/data/*
tests/benchmark/*.txt
tests/benchmark/*.png
