*.swp
./*.py
*.pyc
*.dat
*.hdf5
*.h5
.DS_Store
._*
.eggs
*.egg-info
__pycache__
playground
build
dev_test
dist
tenpy/_version.py
tenpy/linalg/*.c
tenpy/linalg/*.cpp
tenpy/linalg/*.so
tenpy/linalg/*.html
tests/export_import_test/data/*
tests/benchmark/*.txt
tests/benchmark/*.png
hdf5_io/
