[submodule "doc/notebooks"]
	path = doc/notebooks
	url = https://github.com/tenpy/tenpy_notebooks
[submodule "doc/toycodes"]
	path = doc/toycodes
	url = https://github.com/tenpy/tenpy_toycodes
[submodule "tenpy/linalg/generate_clebsch_gordan"]
	path = tenpy/linalg/generate_clebsch_gordan
	url = git@github.com:tenpy/clebsch_gordan_coefficients.git
