Bartholomew Andrews <bandrews@physik.uzh.ch> <38833761+bartandrews@users.noreply.github.com>
Bartholomew Andrews <bandrews@physik.uzh.ch>
Danial Parker <daniel_parker@berkeley.edu>
Eta Chu <eta.chu0@gmail.com>
Gunnar <gunnarm5@users.noreply.github.com>
Kévin Hémery <kevin.hemery@tum.de> <kevin@MacBook-Pro-de-kevin.local>
Kévin Hémery <kevin.hemery@tum.de>
Jack Kemp <jack.kemp496@gmail.com>
Jakob Unfried <jakob.unfried@tum.de> <jakob.unfried>
Johannes Hauschild <git@johannes-hauschild.de> <github@johannes-hauschild.de>
Johannes Hauschild <git@johannes-hauschild.de> <35832621+jhauschild@users.noreply.github.com>
Johannes Hauschild <git@johannes-hauschild.de> <joghurt@hannibal.localdomain>
Jong Yeon <38238337+dlwhddus9999@users.noreply.github.com>
Leon Schoonderwoerd <leonschoonderwoerd@gmail.com>
Marco Rigobello <marco.rigobello@hotmail.com>
Markus Drescher <markusdrescher@example.com>
Maximilian Schulz <maxi.schulz@gmx.net>
Niclas Heinsdorf <43240144+nheinsdorf@users.noreply.github.com>
Pablo Sala <53301699+Pa-Sa@users.noreply.github.com>
Robbert Müller <mjrider@users.noreply.github.com>
Sajant Anand <sajantanand@aol.com>
Wekaw Tirso <ygetache@gmail.com>
Wilhelm Kadow <wilhelm.kadow@gmail.com>
Yu-Chin Tzeng <tzeng.yuchin@gmail.com>
aaeberharter <aaeberharter@github>
Samuel Scalet <samuel.scalet@tum.de>
Umberto Borla <umberto.borla@tum.de>
lm1909 <lutzm1909@gmail.com>
moegerle <johannes.moegerle@itp3.uni-stuttgart.de>
mrader <michael.rader@uibk.ac.at>
Nico Kirchner <126802899+nikirchner@users.noreply.github.com>
scaletos <samuel@yebu.de>
stefan-divic <stefan_divic@berkeley.edu>
tenpybot <tenpybot@johannes-hauschild.de>
