recursive-include tenpy *.py
recursive-include tenpy *.pyx
recursive-include tenpy *.cpp
recursive-include tests *.py

include setup.py
include setup.cfg
include pytest.ini
include requirements.txt
include environment.yml
include AUTHORS.txt
include LICENSE
include README.rst
include MANIFEST.in
