*.swp
*.swo
./*.py
*.pyc
*.dat
*.hdf5
*.h5
.DS_Store
._*
.eggs
*.egg-info
.vscode
__pycache__
playground
build
dev_test
dist
.idea
.coverage
htmlcov
coverage.*
.ipynb_checkpoints
*.ipynb
*.pkl
docs/build_docs
docs/reference
