name: linting

on:
  push:
    branches:
      - main
  pull_request:


jobs:
  lint:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: false
    - name: Update submodules
      run: |
        git submodule update --init --recursive
        git submodule update --remote --merge --recursive
    - name: Set up Python 3.8
      uses: actions/setup-python@v5
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools build
        python -m pip install --upgrade flake8
    - name: Build and install tenpy
      run: |
        python -m build .
        python -m pip install .
    - name: Run linter
      # uses options from .flake8 config file
      run: |
        flake8 .
    - name: Run custom linting script
      run: |
        python ./tests/linting.py
