name: Run Pytest
# Run the test suite using pytest

# Note: The doctests (pieces of test in the docstrings) are run by doc-build.yml
# Note: The code-coverage.yml runs the test suite using the newest python version.
#       So we can skip that version here.

on:
  # pushes to main
  push:
    branches:
      - main
  # PRs
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]


jobs:
  build:
    if: github.event.pull_request.draft == false

    runs-on: ubuntu-latest
    env:
      # make pytest output in color
      PY_COLORS: 1
    strategy:
      max-parallel: 5
      matrix:
        # Note: python 3.12 is covered by code_coverage.yml
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools build
        python -m pip install --upgrade pytest
    
    - name: Build and install tenpy
      # also installs extra dependencies defined in pyproject.toml
      run: |
        python -m build .
        python -m pip install ".[io, test, extra]"
    
    - name: Run pytest
      # configuration in pyproject.toml
      # Note: This runs in the repo root directory, which contains the uncompiled tenpy package.
      #       To use the version we just installed, it is important to run `pytest`
      #       instead of `python -m pytest`.
      run: pytest
